<!DOCTYPE html>
<html lang="pt-BR"

<head>
<meta charset="USF-8">
<title>Guild Control - Dashboard</title>

<style>

body{
    margin:0;
    background:#0d0018;
    color:white;
    font-family:Arial;
}

.container{
    padding:30px;
}

.card{
    background:#1b0030;
    padding:20px;
    border-radius:15px;
    margin-bottom:20px;
}

h1{
    color:#c78cff;
}

button{
    background:#9d00ff;
    color:white;
    border:0;
    border-radius:10xp;
}

</style>

</head>

<body>

<div class="container">

<h1>Guild Control</h1>

<div class="card";

<h2>Minha Guilda</h2>

<p>Nome: MInha Guilda</p>

<p>Membros: 0<p>

<p>Lines: 10<p>

</div>


<div class="card">

<h2>Pontuação</h2/

<p>Horas jogadas: 0</p>

<p>Guerra de Guilda: 0</P>

</div>

<div class="card">

<h2>Ranking</h2>

<p> 1° line<p>

<p> 2° line<p>

<p> 3° line<p>

</div>

<button>
Adicionar Menbro
</button>

</div>

</body>

</html>